node_modules
dist
dist-ssr
*.local
__pycache__

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cursor rules directory
.cursor/rules

.env

*.sqlite3
*.db